<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="${basedir}/logs/internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

  <variable name="extended" value="${longdate} ${uppercase:${level:padding=5}} ${event-properties:item=EventId_Id}| ${message}| ${machinename}.${threadid}| ${logger}| ${aspnet-request-url}| ${aspnet-mvc-action}| ${exception:format=tostring}"/>

	<targets>
		<target name="Mail" xsi:type="Mail" html="true" subject="Error Received"
			to="info@ndh-webstudio.com"
			from="matchodds@example.com"
			Encoding="UTF-8"
			smtpUsername="user@domain.com"
			enableSsl="true"
			smtpPort="587"
			smtpPassword="123456"
			smtpAuthentication="Basic"
			smtpServer="mail.domain.com"
			layout="${extended}"/>
		
		<target name="errorFile" xsi:type="File"
            fileName="${basedir}\logs\error.log"
            archiveAboveSize="5000000"
            archiveFileName="${basedir}/logs/archives/error.{#}.log"
						archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="10"
            keepFileOpen="true"
            layout="${extended}"/>

		<target name="warnFile" xsi:type="File"
            fileName="${basedir}\logs\warn.log"
            archiveAboveSize="5000000"
            archiveFileName="${basedir}/logs/archives/warn.{#}.log"
						archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="10"
            keepFileOpen="true"
            layout="${extended}"/>

		<target name="infoFile" xsi:type="File"
            fileName="${basedir}\logs\info.log"
            archiveAboveSize="5000000"
            archiveFileName="${basedir}/logs/archives/info.{#}.log"
							archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="10"
            keepFileOpen="true"
            layout="${extended}"/>
		
		<target name="debugFile" xsi:type="File"
						fileName="${basedir}\logs\debug.log"
						archiveAboveSize="5000000"
						archiveFileName="${basedir}/logs/archives/debug.{#}.log"
						archiveEvery="Day"
						archiveNumbering="DateAndSequence"
						archiveDateFormat="yyyyMMdd"
						maxArchiveFiles="10"
						keepFileOpen="true"
						layout="${extended}"/>

		<target name="traceFile" xsi:type="File"
            fileName="${basedir}\logs\trace.log"
            archiveAboveSize="5000000"
            archiveFileName="${basedir}/logs/archives/trace.{#}.log"
						archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="10"
            keepFileOpen="true"
            layout="${extended}"/>		
	</targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <logger name="*" minlevel="Fatal" writeTo="Mail" />
    
		<logger name="*" minlevel="Error" writeTo="errorFile" />
		<logger name="*" minlevel="Warn"  writeTo="warnFile" />
		<logger name="*" minlevel="Info"  writeTo="infoFile" />
		<logger name="*" minlevel="Debug" writeTo="debugFile" />		
		<logger name="*" minlevel="Trace" writeTo="traceFile" />		
	</rules>
</nlog>